<!DOCTYPE HTML>
<html>
  <head>
    <title>DOrders</title>
  </head>
  <body>
    <p>Enter orders</p>
    <textarea id="orders-raw"></textarea>
    <p>Parsed orders</p>
    <textarea readonly id="orders-parsed"></textarea>
    <p>Hash</p>
    <textarea readonly id="hash"></textarea>
    <p>Compare Hash</p>
    <textarea id="hash-cmp"></textarea>
    <p id="hash-cmp-match">Hashes Match</p>
    <p id="hash-cmp-differ">Hashes Differ</p>
  </body>
</html>
